body {
	position: relative;
	header {
		position: absolute;
		top: 0;
		z-index: 3;
		width: 100%;
		section.principal-header-section {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px 25px;
			background-color: rgba(242, 242, 242, 0.3);
			margin-top: 40px;
			img {
				width: 90px;
				@media (min-width: 1200px) {
					width:200px;
					margin-left: 63px;
				}
			}
			
		}
		section.social-media-header {
		
			position: relative;

			ul {
				position: absolute;
				right: 42px;
				top: 35px;
				@media (min-width: 400px) {
					top: 64px;
				}
				@media (min-width: 450px) {
					top: 80px;
				}
				@media (min-width: 500px) {
					top: 100px;
				}
				@media (min-width: 600px) {
					top: 150px;
				}
				li {
					padding-bottom: 10px;
					img {
						width: 25px;
						margin-bottom: 12px;
					}
				}
			}
		}

		.desktop-menu  {
			display: none;
			@media (min-width:1200px) {
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				font-weight: bold;
				width: 100%;
				font-size: 18px;
			}
		}
	}
}
