@mixin title-h1() {
    font-size: 23px;
    @media (min-width: 400px) {
        font-size: 28px;
    }
    @media (min-width: 550px) {
        font-size: 40px;
    }
}

@mixin orange-button() {
    color: white;
    background-color: #dd8967;
    padding: 2px 20px;
    border-radius: 20px;
    margin-left: 5%;
    margin-top: 20px;
    display: inline-block;
    @media (min-width: 1200px) {
        padding: 7px 46px;
    }
}
