* {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	-webkit-font-smoothing: antialiased;
}
img {
	max-width: 100%;
}
p,
ul,
figure {
	margin: 0;
	border: 0;
	padding: 0;
}
ul {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
button {
	cursor: pointer;
}

body {
	margin-top: -23px;
	font-family: "Source Sans Pro";
	main {
		section.main-top {
			background-image: url(img/mobile/home_mobile.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: bottom;
			min-height: 300px;
			@media (min-width: 400px) {
				min-height: 400px;
			}
			@media (min-width: 550px) {
				min-height: 500px;
			}
			h1 {
				padding-top: 100px;
				color: white;
				margin: 0 auto;
				width: 90%;
				padding-top: 132px;
				@include title-h1;
				span {
					color: $theme-salmon;
					text-transform: uppercase;
				}
			}

			p {
				display: none;
			}

			a {
				color: white;
				background-color: #dd8967;
				padding: 2px 20px;
				border-radius: 20px;
				margin-left: 5%;
				margin-top: 20px;
				display: inline-block;
			}
		}
	}
}
