* {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	-webkit-font-smoothing: antialiased;
}
img {
	max-width: 100%;
}
p,
ul,
figure {
	margin: 0;
	border: 0;
	padding: 0;
}
ul {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
button {
	cursor: pointer;
}

body {
	margin-top: -23px;
	font-family: "Source Sans Pro";
	main {
		section.swiper.generic-swiper {
			position: relative;
			// background-color: rgba(177,127,74,0.8);
			div.content-div {
				position: absolute;
				left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
				width: 200px;
				top: 32%;
				@media (min-width: 550px) {
					width: 240px;
				}
				@media (min-width: 1200px) {
					width: 51%;
				}
				h1 {
					color: white;
					margin: 0 auto;
					text-shadow: 0px 3px 6px #0000005c;
					@include title-h1;
					@media (min-width: 550px) {
						font-size: 34px;
					}
					@media (min-width: 1200px) {
						font-size: 50px;
					}
					span {
						color: $theme-salmon;
						text-transform: uppercase;
					}
				}

				a {
					@include orange-button;
					margin-left: 0;
				}
			}

			article.swiper-slide.history-slide {
				div.content-div {
					top: 41%;
					@media (min-width: 400px) {
						width: 240px;
					}
					@media (min-width: 550px) {
						width: 290px;
					}
					@media (min-width: 1200px) {
						width: 51%;
					}
				}
			}
			article.swiper-slide.know-us-more {
				div.content-div {
					top: 41%;
					h1 {
						color: $theme-salmon;
					}
					a {
						margin-top: 35px;
					}
				}
			}
		}

		section.history-section {
			color: white;
			position: relative;
			margin-top: -52px;
			z-index: 1;
			text-align: center;
			@media (min-width: 1200px) {
				display: flex;
				align-items: center;
			}
			h3 {
				font-size: 22px;
				margin-bottom: 0;
			}

			article {
				@media (min-width: 1200px) {
					position: relative;
					h3 {
						position: absolute;
					}
				}
				h4 {
					font-size: 18px;
					font-weight: 600;
					font-style: italic;
					margin-bottom: 0;
					margin-top: 0;
					padding-top: 30px;
				}
				p {
					padding: 11px 25px;
					text-align: justify;
				}

				&.history-article {
					background-color: rgba(177, 127, 74, 0.8);
					padding-top: 40px;
				}
				&.history-article-hnos {
					background-color: rgba(192, 152, 110, 0.9);
					@media (min-width: 1200px) {
						background-color: rgba(177, 127, 74, 0.8);
					}
				}
				&.history-article-raul {
					background-color: rgba(192, 152, 110, 0.8);
					@media (min-width: 1200px) {
						background-color: rgba(177, 127, 74, 0.8);
					}
				}
				&.history-article-diego {
					background-color: rgba(192, 152, 110, 0.7);
					@media (min-width: 1200px) {
						background-color: rgba(177, 127, 74, 0.8);
					}
				}
			}
		}
		section.doors-section {
			figure {
				position: relative;
				margin-bottom: -5px;
				figcaption {
					/*QUEDA POR REVISAR LA UBICACIÓN DEL TEXTO*/
					position: absolute;
					bottom: 38%;
					right: 16%;
					text-align: right;
					&.left-side {
						left: 16%;
						text-align: left;
					}
					h2 {
						color: white;
						margin-bottom: 0;
					}
					a {
						@include orange-button;
						margin-top: 10px;
						font-size: 12px;
						padding: 2px 15px;
						margin-left: 0;
					}
				}
			}
		}
		section.video-section {
			iframe {
				width: 100%;
				margin-top: 40px;
				margin-bottom: 10px;
			}
		}

		section.contact-section {
			background-image: url("img/mobile/hola_mobile.jpg");
			padding-bottom: 30px;
			background-size: cover;
			margin-bottom: 20px;
			p {
				font-size: 22px;
				font-weight: bold;
				text-align: center;
				padding-top: 12px;
			}
			div {
				text-align: center;
				margin-bottom: 20px;
				margin-top: 10px;

				label {
					display: inline;
					margin-top: 5px;
					margin-bottom: 5px;
					input {
						border-radius: 3px;
						border: none;
						margin-top: 3px;
						margin-left: 3px;

						&[type="text"] {
							width: 30%;
						}
						&[type="mail"] {
							width: 40%;
						}

						&::placeholder {
							opacity: 0.5;
							color: gray;
						}
					}
				}
			}

			textarea {
				display: block;
				width: 95%;
				margin: 0 auto;
				border-radius: 3px;
				border: none;
				height: 60px;
				height: 100px;
				&::placeholder {
					opacity: 0.5;
					color: gray;
				}
			}

			button {
				@include orange-button;
				border: none;
				margin: 0 auto;
				margin-top: 20px;
				display: block;
				font-weight: bold;
			}
		}
	}
}
